p {
  display:none;
}

h2 {
  display: none;
}

#reload {
  display: none;
}

#reload {
  margin: 25%;
}

.clickable {
  cursor: pointer;
  color: #ae5404;
}

.clickable:hover {
  color: orange;
}


p {
  border: 2px solid #e7feed;
  font-size: 40px;
  margin: 20%;
  padding: 8px;
  background-color: #e7fdfa;
  text-align: center;
  border-radius: 6px;
}

h2 {
  border: 2px solid #e7feed;
  font-size: 40px;
  margin: 20%;
  padding: 8px;
  background-color: #fba558;
  text-align: center;
  color: white;
  border-radius: 6px;
}

button {
  margin-left: 18%;
  margin-right: 33%;
  margin-top: 5%;
  background-color: #037d50;
  color: white;
}

.form-control {
  width: 50%
}
