p {
  display:none;
}


p {
  border: 2px solid #e7feed;
  font-size: 40px;
  margin: 20%;
  padding: 8px;
  background-color: #e7fdfa;
  text-align: center;
}

button {
  margin-left: 18%;
  margin-right: 33%;
  margin-top: 5%;
  background-color: #037d50;
}

.form-control {
  width: 50%
}
